<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.practiceall2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DatePickerImplementation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NotificationImplementation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityA"
            android:label="Activity A"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityB"
            android:label="Activity B"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ImplicitFromApp1" />
        <activity android:name=".ServiceImplementation" />

        <service
            android:name=".TheService"
            android:exported="false" />

        <activity
            android:name=".IntentServiceImplementation"
            android:exported="false" />
        <activity android:name=".BoundServiceImplementation" />

        <service
            android:name=".MyService2"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>